<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.database.BoardMapper">

	<resultMap type="BasicBoard" id="BasicBoardAttrResultMap">
		<result property="idx" column="IDX" />
		<result property="title" column="TITLE" />
		<result property="writer" column="WRITER" />
		<result property="create_date" column="CREATE_DATE" />
		<result property="fix_date" column="FIX_DATE" />
		<result property="recommended" column="RECOMMENDED" />
		<result property="lookup" column="LOOKUP" />
	</resultMap>
	
	<select id="getBasicBoardCount" resultType="java.util.HashMap" parameterType="String">
		SELECT COUNT(*) AS "cnt" FROM ${value}
	</select>
	
	<select id="getBasicBoardPage" resultMap="BasicBoardAttrResultMap" parameterType="BoardPage">
		SELECT * FROM ${boardName} WHERE IDX BETWEEN ${start} AND ${end} ORDER BY IDX DESC
	</select>
	
	<select id="getBasicBoardSearchCount" resultMap="BasicBoardAttrResultMap" parameterType="BoardPage">
		SELECT idx FROM (SELECT * FROM ${boardName} ORDER BY IDX DESC) WHERE ${searchOption} LIKE '%${search}%'
	</select>
	
	<select id="getBasicBoardSearch" resultMap="BasicBoardAttrResultMap" parameterType="BoardPage">
		SELECT * FROM (SELECT * FROM (SELECT * FROM ${boardName} ORDER BY IDX DESC) WHERE ${searchOption} LIKE '%${search}%') WHERE IDX BETWEEN ${start} AND ${end}
	</select>
	
</mapper>