<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.database.TestMapper">

	<resultMap type="Test" id="TestResultMap">
		<result property="cate" column="CATE" />
		<result property="sub" column="SUB" />
		<result property="value" column="VALUE" />
	</resultMap>

	<select id="getTestVal" resultMap="TestResultMap">
		SELECT * FROM many_of_tabs
	</select>
	
</mapper>