#common_style {
	background-color: black;
	color: white;
	font-family: "Love Ya Like A Sister", cursive;
}

#common_style .common_container {
	width: 100%;
}

.commonAtag{
	text-decoration: none;
	font-weight: bold;
	color: white;
}
.commonAtag:HOVER {
	color: blue;
}