.commonDay, .passDay, .presentRedDay, .presentBlueDay, .presentWhiteDay, .toDay  {
	border-bottom: 1px solid #444444;
}

.passDay {
	color: gray;	
}
.presentRedDay {
	color: red;
}
.presentBlueDay {
	color: blue;
}
.presentWhiteDay:HOVER {
	background-color: #CCCCCC;
}
.presentRedDay:HOVER {
	background-color: #CCCCCC;
}
.presentBlueDay:HOVER {
	background-color: #CCCCCC;
}

.toDay {
	color: pink;
	font-weight: bold;
}
.toDay:HOVER {
	background-color: #CCCCCC;
}


.basicField {
	border : 2px medium white;
	border-radius : 2em;
}

.sideMenuAtag{
	text-decoration: none;
	color: white;
}
.sideMenuAtag:HOVER {
	color: blue;
}