#terms {
	width: 100%;
	height: auto;
}

#terms .title {
	font-size: 20px;
	font-weight: bold;
}

#radioBtn {
	margin-right: 100px;
}

#inputEmail {
	display: none;
}

#inputEmail hr {
	color: white;
}

.cancle_next {
	display: none;
	padding-top: 10px;
}

.cancle {
	padding-right: 15%;
	font-size: 15px;
}

.next {
	padding-left: 15%;
	font-size: 15px;
}

.cancle:HOVER, .next:HOVER {
	color: blue;
}