#terms {
	width: 100%;
	height: auto;
}

#terms .title {
	font-size: 20px;
	font-weight: bold;
}

#radioBtn {
	margin-right: 100px;
}

#inputEmail {
	display: none;
}

#inputEmail hr {
	color: white;
}

#cancle_next {
	display: none;
	width: 100%;
}

#cancle_next .cancle {
	display: inline;
	marign-right: 15%;
}

#cancle_next .next {
	display: inline;
	marign-left: 15%;
}